<html>
    <head>
        <title>Email Validation</title>
    </head>
    <body>
        <form action='/create' method ='POST'>
            {% with errors = get_flashed_messages(category_filter=['emailError']) %}
                {% if errors %}
                    {%- for msg in errors %}
                        <p>{{ msg }}</p>
                        {% endfor -%}
                    {% endif %}
                {% endwith %}
            <label for='email'>Email: <input type='text' name='email'></label>
            <input type='submit' value='Submit' name='submit'>
        </form>
    </body>
</html>