<html>
    <head>
        <title>The Wall</title>
    </head>
    <body>
        <h1>Welcome to the CodingDojo Wall</h1>

        <!-- decide if you are doing a logout -->
        <header>
            <p>Welcom {{ session['user'['first_name']}} {P{session['user']['last_name']}}</p>
        </header>
        {% with messages = fet_flashed_messages() %}
            {% if messages %}
                {% for message in message %}
                    <h3>{{message}}</h3>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h2>Post a message!</h2>
        <form action="/wall/message" method="post">
        <textarea name='message' rows='8' cols='80'></textarea>
        <input type="submit" name="submit" value="Post your message">
        </form>
        <h2>Messages</h2>
            {% for message in message_list %}
                <h3>{{message['first_name']}} {{message['last_name']}} - {{message['created_at']}}</h3>
                <p>{{message['message_text']}}</p>

                <h3>Comments</h3>
                {% for comment in comment_list %}
                    {% if comment['message_id'] == message['id'] %}
                        <h4>{{comment['first_name']}}{{comment['last_name']}} - {{comment['created_at']}}</h4>
                        <p>{{comment['comment_text']}}</p>
                    {% ednif %}
                {% endfor %}
            
            <form action="/wall/comment/{{message['id]}}" method='post'>
                <textarea name="comment" rows="5" cols="60"></textarea>
                <input type="submit" name="submit" value="Post a comment">
            </form>
            {% endfor %}


    </body>
</html>